<base ip="192.168.13.182" mac="0x74d435b5c9ea">
    <connect>
        <udp>
            <client>8084</client>
            <server>8081</server>
            <broadcast>8082</broadcast>
            <multicast>8083</multicast>       
        </udp>

        <tcp>
            <server>9095</server>
            <client>8085</client>
        </tcp>
    </connect>
    
</base>