<base ip="192.168.6.1" mac="0x201e88f505bd">
    <connect>
        <udp>
            <client>8084</client>
            <server>8081</server>
            <broadcast>8082</broadcast>
            <multicast>8083</multicast>       
        </udp>

        <tcp>
            <server>9095</server>
            <client>8085</client>
            <client_call>8086</client_call>
        </tcp>
    </connect>

    <paths>
        <path_softwares>D://softwares</path_softwares>
    </paths>

    <performance>
        <max_process>10</max_process>    
    </performance>

</base>