<xml version="1.0">
    <base ip="192.168.6.1">
        <connect>
            <udp>
                <client>8080</client>
                <server>8081</server>
                <broad>8082</broad>
                <multi>8083</multi>       
            </udp>

            <tcp>
                <server>9095</server>
                <client>8085</client>
            </tcp>
        </connect>

        <redis_config>
            <host>localhost</host>
            <port>6379</port>
            <datas>
                <lr>client-message</lr>
            </datas>
        </redis_config>

        <servers>
            <!-- 服务管理 -->
            <uvicorn>uvicorn core.api:app --reload</uvicorn>
            <listening>python ./core/udp.py</listening>
            <control>python ./core/control.py</control>
            <redis>redis-server</redis>
        </servers>
    </base>
</xml>