<xml version="1.0">
    <base ip="172.19.0.3" mac="0x242ac130003">
        <connect>
            <udp>
                <client>8084</client>
                <server>8081</server>
                <broad>8082</broad>
                <multi>8083</multi>       
            </udp>

            <tcp>
                <server>9095</server>
                <client>8085</client>
                <client_file>8086</client_file>
            </tcp>
        </connect>

        <redis_config>
            <host>redis</host>
            <port>6379</port>
            <datas>
                <item>client_status</item>
                <item>client_message</item>
                <item>heart_packages</item>
                <item>softwarelist</item>
                <item>accounts</item>
                <item>reports</item>
                <item>logs</item>
                <item>waitdones</item>
            </datas>
        </redis_config>

        <dependencys>
            
            <redis>redis-server ./databasetool/redis-service.conf</redis>
            <view>npm --prefix view run serve</view>
        </dependencys>
    </base>
</xml>